.wrapper{
  display: flex;
  
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
  
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
}

.header-name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.create-room a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  border: 1px solid darkred;
  text-decoration: none;
  color: darkred;
  padding: 20px;
}


.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}


.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
  color: #434a54;
}

.message-date {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}


.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  width: 100%;
  background-color: white;
  display: flex;
}

.form-message {
  padding-left: 10px;
  height: 50px;
  width: 100%;
  border: none;
}

.form-submit {
  font-size: 16px;
  color: white;
  background-color: #38aef0;
  height: 50px;
  padding: 0 20px;
  border: none;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
